header {
  border-bottom: 3px solid beige;
  align-items: center;
  display: flex;
  justify-content: space-between;
  h1 {
    align-items: center;
  }

  ul {
    li {
      font-size: large;
    }
  }
}
