$primary-color: rgb(89, 177, 136);
$secondary_color: beige;
body {
  margin: 0%;
  background-color: $primary-color;
  color: $secondary_color;
  a {
    color: beige;
    text-decoration: none;
  }
  ul {
    margin-right: 10px;
    display: flex;
    li {
      list-style: none;
      margin-left: 15px;
    }
    main {
      width: 90%;
    }
  }
}
